#############################################
############# POSTGRES DATABASE #############
#############################################
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres


#############################################
################# KEYCLOAK ##################
#############################################



#############################################
################# TEMPORAL ##################
#############################################



#############################################
################### KAFKA ###################
#############################################



#############################################
############### ELASTICSEARCH ###############
#############################################



#############################################
################## MONGODB ##################
#############################################